bin
bin/Release/net5.0/YLang.dll
bin/Release/net5.0/YLang.dll
*.pdb
obj/Release/net5.0/YLang.csproj.AssemblyReference.cache
obj/Release/net5.0/YLang.dll
obj/Release/net5.0/YLang.pdb
obj/YLang.csproj.nuget.dgspec.json
obj/project.assets.json
obj/project.nuget.cache
obj/Release/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
obj/Release/net5.0/apphost.exe
obj/Release/net5.0/ref/YLang.dll
obj/Release/net5.0/YLang.AssemblyInfoInputs.cache
obj/Release/net5.0/YLang.AssemblyInfo.cs
obj/Release/net5.0/YLang.csproj.CoreCompileInputs.cache
obj/Release/net5.0/YLang.csproj.FileListAbsolute.txt
obj/Release/net5.0/YLang.assets.cache
obj/YLang.csproj.nuget.g.props
obj/Release/net5.0/YLang.genruntimeconfig.cache
obj/Release/net5.0/YLang.GeneratedMSBuildEditorConfig.editorconfig
obj/YLang.csproj.nuget.g.targets
